{% extends "base.html" %}


{% load staticfiles %}

<!-- Navbar -->
<!-- *************************************************************************************************************************************************************** -->
<!-- This navigation contains the items to be displayed in the navbar of the Profile app.  -->

{% block navigation %}

  <li class="nav-item">
    <a class="nav-link" href="{% url 'Blog:Blog_index' %}"> ホーム </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'Profile:index' %}"> 製品分析 </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'custom_search:index' %}"> カスタムTwitter検索
 </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#signup">接触</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url "Blog:Logout" %}">ログアウト</a>
  </li>
{% endblock %}
<!--*************************************************************************************************************************************************************** -->

<!-- Heading Text  -->

{% block heading_text %}{{blurb}}{% endblock %}
<!--*************************************************************************************************************************************************************** -->
<!-- The content contains the items to be displayed as the product analysis entities like graphs, table, twitter analysis, most popular users and etc. It describes the basis content about the product  -->
{% block content %}


<!-- The below div container is the main div which contains all the data inside the content.-->
<div style="margin-left: 15%;margin-right: 15%;background:white">
  

  <br>
  <br>
  <br><br>
  <hr>

  <!-- ********************************************************************************************************************************************************* -->
  <!-- This is the script for slider class div container which you can found just below this script.It is resposible for dynamic slide display of content inside slider div container and it uses plugin named slick for it.-->
  <script type="text/javascript">
    $(document).ready(function(){
      $('.slider').slick({
        dots: true,
        slidesToShow: 1,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 3000,
        responsive: [
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1,
            infinite: true,
            dots: true
          }
        },
        {
          breakpoint: 720,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1
          }
        },
        {
          breakpoint: 480,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1
          }
        }
        // You can unslick at a given breakpoint now by adding:
        // settings: "unslick"
        // instead of a settings object
      ]
      });
    });
  </script>
  <!-- ********************************************************************************************************************************************************* -->
  <!-- This is the slider div container which contents are dynamically displayed by the above script using slick plugin. -->
  <div class="slider">
    <div style = "margin-left: 3rem!important;margin-right: 3rem!important">
      <img class = "slider-image" src="http://www.melonades.com/wp-content/uploads/2015/05/online_ad-1200x250.png" />
    </div>
    <div style = "margin-left: 3rem!important;margin-right: 3rem!important">
      <img class = "slider-image" src="https://churchwindows-a.akamaihd.net/wp-content/uploads/2016/10/church-windows-tech-tips-1200x250.jpg" />
    </div>
    <div style = "margin-left: 3rem!important;margin-right: 3rem!important">
      <img class = "slider-image" src="https://cdn-codemark.pressidium.com/wp-content/uploads/layerslider/Cover-%E2%80%94-2020-Countdown/Header_2020Countdown-1200x250.jpg" />
    </div>
    <div style = "margin-left: 3rem!important;margin-right: 3rem!important">
      <img class = "slider-image" src="http://www.mti.com/wp-content/uploads/2017/06/About-banner-1200x250.jpg" />
    </div>
  </div>
  <hr>
  <!-- ********************************************************************************************************************************************************* -->
  <!-- This for styling the images and contents that slider div container holds which are displayed.-->
  <style type="text/css">
    .slider {
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }

    .slider-image { 
        width: 100%;
        max-height: 280px;
        min-height: 120px;
        height: auto;
        box-shadow: 0 0 10px 1px;
        margin-top: 3%;
        margin-bottom: 3%;
    }
  </style>
  <!-- ******************************************************************************************************************************************************** -->
  <!-- This section displays all the data like twitter analysis, twitter-tv-commercial data graphs and etc. -->
  <section id="Graphs-data" class="aboutme-section bg-light">
    <!-- ****************************************************************************************************************************************************** -->
    <!-- This div further subholds the all data under section and its is just to wrap the whole data for positioning and featuring in future. -->
    <div style = "margin-left: 2%;margin-right: 2%">
      <!-- **************************************************************************************************************************************************** -->
      <!-- This div is a first row inside upper div container and it has three colums, each of which contain the different forms for user. -->
      <div class = "row" style = "margin-left: 3%">
        <!-- ************************************************************************************************************************************************** -->
        <!-- This div is a first column inside above row and it basically allows user to see dropdown, and click and see twitter analysis on other product like coca cola and etc. -->
        <div class = "col-sm-4 col-md-4">
          <div class="panel-group">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class = "product-actual-name" data-toggle="collapse" href="#collapse1" id="{{current_product.product_search_name}}">
                    <span style = "border-bottom: 2px solid green;font-size: 1.1rem!important;font-weight: 500;box-shadow: 0 0 5px green;border-radius:4px">
                      <spna style = "margin-top: 5%;margin-left: 5%;margin-bottom: 5%;margin-right: 5%"><i class="fa fa-twitter" aria-hidden="true"></i>&nbsp {{current_product.product_name}}</span>
                    </span>
                  </a>
                </h4>
              </div>
              <br>
              <div id="collapse1" class="panel-collapse collapse">
                <ul class="list-group">
                  {% for item in all_products %}
                  <button style = "background-color: Transparent;background-repeat:no-repeat;border: none;cursor:pointer;overflow: hidden;font-size: 0.8rem;font-weight: 700"><li class="list-group-item" onclick = "load_product_data('{{item.product_search_name}}')">{{item.product_name}}</li></button>
                  {% endfor %}
                  <!-- *************************************************************************************************************************************** -->
                  <!-- When user clicks on any product this scripts runs and it calls the load_product_data() fucntion in Profile:views.py and loads the new content for the above product in "Graph-data" section. -->
                  <script type="text/javascript">
                    function load_product_data(product_search_name){
                      $('#Graphs-data').html("<div id='loading' style='width:100%;min-height:250px;height:auto';background:white;text-align:center><img id='loading-image' src='https://www.idlewild.org/wp-content/plugins/embed-bible-passages/images/ajax-loading.gif' alt='Loading...' style='display:block;margin-left:auto;margin-right:auto;align-self:center' /></div>")
                      var formData = {'product_search_name':product_search_name};
                      console.log(formData)
                      $.ajax({
                        url: "/profile/load_product_data/",
                        method: "POST",
                        data: formData,
                        success: function(response){
                        $('#Graphs-data').html(response)
                        $('#Graphs-data').html(response)
                         
                        },
                        error: function(response){
                          console.log("sorry error occured");
                        }
                      });
                    }
                  </script>
                  <!-- ************************************************************************************************************************************** -->

                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- ************************************************************************************************************************************************** -->
        <!-- This div is a second column inside above row and its contents are only shown to super user and it allows super user to upload the csv data about Tv or commercial. -->
        <div class = "col-sm-4 col-md-4">
          {% if user.is_superuser %}
          <div class="panel-group">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class = "csv-upload" data-toggle="collapse" href="#collapse3" id="">
                    <span style = "color:black;border-bottom: 2px solid black;font-size: 1.1rem!important;font-weight: 500;box-shadow: 0 0 5px black;border-radius:4px">
                      <spna style = "margin-top: 5%;margin-left: 5%;margin-bottom: 5%;margin-right: 5%"><i class="fa fa-upload" aria-hidden="true"></i>&nbsp Upload .csv data</span>
                    </span>
                  </a>
                </h4>
              </div>
              <br>
              <div id="collapse3" class="panel-collapse collapse">
                <ul class="list-group">
                  <!-- *************************************************************************************************************************************** -->
                  <!-- This is a form allwing user to upload csv file and choose dropdown inputs. -->
                  <form  id="upload-form"  action="{% url "Profile:upload_csv" %}" enctype="multipart/form-data" >
                    {% csrf_token %}
                  <input type="file" name="csvfile" id="csvfile" style = "width:80%;padding: 12px 20px;margin:8px 0;box-sizing: border-box;border:2px solid blue;border-radius: 4px"/>
                  <p></p>
                  <br>
                  <p>
                     <label style = "font-weight: 400;text-shadow: 1px 1px 2px grey">Select Product :</label> &nbsp
                     <select id = "ProductList" style = "border-radius: 4%">
                      {% for item in all_products %}
                       <option value = "{{item.product_name}}">{{item.product_name}}</option>
                       {% endfor %}
                     </select>
                  </p>
                  <br>
                  <p>
                     <label style = "font-weight: 400;text-shadow: 1px 1px 2px grey">Select Data Type : </label> &nbsp
                     <select id = "DataTypeList">
                       <option value = "tv_data">TV Data</option>
                       <option value = "commercial_data">Commercial Data</option>
                     </select>
                  </p>
                  <button type="button" onclick="csv_send()" style = "width:20%;height:50px;text-align: center"><i class="fa fa-upload" aria-hidden="true"></i></button>
                  </form>
                  <!-- *************************************************************************************************************************************** -->
                  <!-- When user click on upload button this script runs and it calls the function upload_csv() function of Profle:views.py which if successfull further processes the csv file and upload its data to elastic search server. -->
                  <script type="text/javascript">
                    function csv_send(){

                      var data = new FormData();
                      var file = null;
                      var productname = $('#ProductList').find("option:selected").text();
                      var datatypename = $('#DataTypeList').find("option:selected").text();
                      console.log("yeah here")
                      file = $("#csvfile")[0].files[0]

                      //when uploading a file take the file
                      $("#csvfile").on("change", function(){
                        console.log("blewww")
                          file = this.files
                          console.log(file)
                      });
                      console.log(file);
                      console.log(productname);
                      //append the file in the data
                      data.append("file", file);
                      data.append("productname",productname)
                      data.append("datatypename",datatypename)
                      var urlEndpoint = $("#upload-form").attr('action');
                      //append other data
                      data.append("message", "some content");
                      console.log(data)
                      $.ajax({
                          url: urlEndpoint,
                          type: 'POST',
                          data: data,
                          contentType: false,
                          processData: false,
                          success: function (response) {
                            $('#collapse3').text(response['success_message']);
                          },

                      });
                    }
                  </script>
                  <!-- *************************************************************************************************************************************** -->
                </ul>
              </div>
            </div>
          </div>
          {% endif %}
        </div>
        <!-- ************************************************************************************************************************************************** -->
        <!-- This div is a third column inside above row and its contents are also only shown to super user and it allows super user to suscribe new product to product list for whom twitter data is scraped. -->
        <div class = "col-sm-4 col-md-4"> 
          {% if user.is_superuser %}
          <div class="panel-group">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class = "product-name" data-toggle="collapse" href="#collapse2">
                    <span style = "color:red;border-bottom: 2px solid red;font-size: 1.1rem!important;font-weight: 500;box-shadow: 0 0 5px red;border-radius:4px">
                      <spna style = "margin-top: 5%;margin-left: 5%;margin-bottom: 5%;margin-right: 5%"><i class="fa fa-eercast" aria-hidden="true"></i>&nbsp Subscribe Product</span>
                    </span>
                  </a>
                </h4>
              </div>
              <br>
              <div id="collapse2" class="panel-collapse collapse">
                <!-- *************************************************************************************************************************************** -->
                <!-- This is a form for suscribing new product. -->
                <form class="form-inline d-flex subscribe-product-form" action="{% url "Profile:product-subscription" %}" method="post">
                    {% csrf_token %}
                  <div class = "row">
                    <div class = "col-8">
                      <input name='product_name' type="Product" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="product_name" placeholder="Enter Product Name...">
                    </div>
                    <div class = "col-4">
                      <button type="submit" style = "height:100% !important;border-radius: 5%!important" class="btn-primary">Submit</button>
                    </div>
                  </div>
                </form>
                <!-- *************************************************************************************************************************************** -->
                <!-- When user clicks on suscribe button this script which calls SubscriptionHandler_product() function of Profile:views.py which further pushes the desired product name into product list table of elastic database. -->
                <script type="text/javascript">
                  $(document).ready(function(){
                    $('.subscribe-product-form').submit(function(e){
                      e.preventDefault();
                      var this_ = $(this);
                      var urlEndpoint = this_.attr('action');
                      var formData = this_.serialize();
                      console.log(formData)
                      $.ajax({
                        url: urlEndpoint,
                        method: "POST",
                        data: formData,
                        success: function(response){
                          $('#collapse2').text(response['success_message']);
                        },
                      })
                    })
                  })

                </script>
                <!-- *************************************************************************************************************************************** -->
              </div>
            </div>
          </div>
          {% endif %}
        </div>
        <!-- ************************************************************************************************************************************************** -->
      </div>
      <br>
      <br>
      <!-- **************************************************************************************************************************************************** -->
      <!-- This div is a second row inside upper div container and it also has three colums, from which firs contains the description and second and thrid column contains the information like positive tweets , negative tweets colum, like/tweet volume and etc to be displayed to the user for twitter analysis -->
      <div class = "row" style = "margin-left: 1%;margin-right: 4%;background-color: white;box-shadow: 0 0 20px 1px">
        <!-- ************************************************************************************************************************************************** -->
        <!-- This div is a first column inside above row and it basically contains the dsecription. -->
        <div class="col-md-12" style = "margin-left: 2%;margin-top: 2%;margin-bottom: 2%;margin-right: 2%">
          <h4>
            <i class="fa fa-pie-chart" aria-hidden="true"></i>&nbsp Twitter Analysis
          </h4>
        </div>
        <!-- ************************************************************************************************************************************************** -->
        <!-- This div is a second column inside above row and it basically displays the info like positve tweets , negative tweets and neutral tweets volume of the given product to the user. -->
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-4" style = "text-align: center">
              <img class="img-circle" src="https://cdn.shopify.com/s/files/1/1061/1924/products/Happy_Emoji_Icon_5c9b7b25-b215-4457-922d-fef519a08b06_large.png?v=1542446801" alt="Generic placeholder image" style = "height:60px;width:60px;border-radius: 50%;box-shadow: 0px 0px 15px #93a1a1">
              <br>
              <br>
              <h6><strong>Positive Volume <i class="fa fa-question-circle-o" aria-hidden="true"></i></strong> </h6>
              <p><a class="btn btn-default" role="button">{{statistical_data.positive_count_percentage}} %</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-md-4" style = "text-align: center">
              <img class="img-circle" src="http://cdn.shopify.com/s/files/1/1061/1924/products/Sad_Face_Emoji_grande.png?v=1480481055" alt="Generic placeholder image" style = "height:60px;width:60px;border-radius: 50%;box-shadow: 0px 0px 15px #93a1a1">
              <br>
              <br>
              <h6><strong>Negative Volume <i class="fa fa-question-circle-o" aria-hidden="true"></i></strong> </h6>
              <p><a class="btn btn-default" role="button">{{statistical_data.negative_count_percentage}} %</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-md-4" style = "text-align: center">
              <img class="img-circle" src="https://emojis.wiki/emoji-pics/facebook/neutral-face-facebook.png" style = "height:60px;width:60px;border-radius: 50%;box-shadow: 0px 0px 15px #93a1a1">
              <br>
              <br>
              <h6><strong>Neutral Volume <i class="fa fa-question-circle-o" aria-hidden="true"></i></strong> </h6>
              <p><a class="btn btn-default" role="button">{{statistical_data.neutral_count_percentage}}%</a></p>
            </div><!-- /.col-lg-4 -->
          </div>
        </div>
        <!-- ************************************************************************************************************************************************** -->
        <!-- This div is a third column inside above row and it displays parameters like average Retweets per tweet, average likes per tweet of specific product to the user. -->
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-4" style = "text-align: center">
              <img class="img-circle" src="https://i0.wp.com/www.communicateandhowe.com/wp-content/uploads/2015/01/retweet.png?resize=300%2C300" alt="Generic placeholder image" style = "height:60px;width:60px;border-radius: 50%;box-shadow: 0px 0px 15px #93a1a1">
              <br>
              <br>
              <h6><strong>Retweets / tweet<i class="fa fa-question-circle-o" aria-hidden="true"></i></strong> </h6>
              <p><a class="btn btn-default" role="button">{{statistical_data.retweet_per_tweet_count_percentage}}</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-md-4" style = "text-align: center">
              <img class="img-circle" src="http://seosocial.lucas.pw/wp-content/uploads/2016/02/exibirImagemMaisRecente.png" alt="Generic placeholder image" style = "height:60px;width:60px;border-radius: 50%;box-shadow: 0px 0px 15px blue">
              <br>
              <br>
              <h6><strong>Likes / tweet <i class="fa fa-question-circle-o" aria-hidden="true"></i></strong> </h6>
              <p><a class="btn btn-default" role="button">{{statistical_data.likes_per_tweet_count_percentage}}</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-md-4" style = "text-align: center">
              <img class="img-circle" src="https://image.flaticon.com/icons/png/512/33/33308.png" style = "height:60px;width:60px;border-radius: 50%;box-shadow: 0px 0px 15px black">
              <br>
              <br>
              <h6><strong>Original Tweets Volume <i class="fa fa-question-circle-o" aria-hidden="true"></i></strong> </h6>
              <p><a class="btn btn-default" role="button">{{statistical_data.original_count_percentage}} %</a></p>
            </div><!-- /.col-lg-4 -->
          </div>
          <br>
          <br>

        </div>
        <!-- ************************************************************************************************************************************************** -->
      </div>
      <br>
      <br>
      <!-- ***************************************************************************************************************************************************** -->
      <!-- This div container is a third row and displays graphs of twitter ,Tv and commerical data using plotly.js, you can found this script below just before graph-data section ends. -->
      <div class = "row" style = "margin-left: 1%;margin-right: 4%;background-color: white;box-shadow: 0 0 20px 1px">
        <div class = "col-md-12" id="graph"></div>
      </div>
        <br>
        <br>
      <!-- ***************************************************************************************************************************************************** -->
      <!-- This div container is a fourth row and displays table of twitter ,Tv and commercial data using plotly.js, you can found this script below just before graph-data section ends. -->
      <div class = "row" style = "margin-left: 1%;margin-right: 4%;background-color: white;box-shadow: 0 0 20px 1px" id="table"></div>
      <br>
      <br>
      <!-- ***************************************************************************************************************************************************** -->
      <!-- This div container is a fifth row and displays the most popular twitter influencer and top 7 named entities. -->
      <div style = "margin-left: 1%;margin-right: 4%;background-color: white;box-shadow: 0 0 20px blue">
        <!-- For while this div container contains nothing but you can put description in this div container. -->
        <div class = "row"></div>
        <!-- This div container is a row which contain 3 columns from which middle colun is just for spacing and other two conain most poular influencer data and named entitiy data. -->
        <div class = "row" style = "margin-top: 2%;margin-bottom: 2%">
          <!-- This column contains the most popular influencer data -->
          <div class = "col-xl-5" style = "margin-left: 1%;margin-right: 4%;margin-top: 1%;margin-bottom: 1%;">
            <div class="container-influencer">
              <div class="table-influencer">
                <div class="table-header-influencer">
                  <div class="header__item"><a id="name" class="filter__link" href="#">Most Popular </a></div>
                  <div class="header__item"><a id="wins" class="filter__link filter__link--number" href="#">Name</a></div>
                  <div class="header__item"><a id="name" class="filter__link" href="#">Followers</a></div>
                </div>
                <br>
                <hr>
                <div class="table-content-influencer"> 
                  {% for influencer in statistical_data.overall_popular_users %}
                  <div class="table-row-influencer">   
                    <div class="table-data-influencer" style = "align-self: center;"><img style = "height:3rem;width:3rem;border-radius: 50%" src="{{influencer.profile_link}}" ></div>
                    <div class="table-data-influencer" style = "align-self: center"><strong>{{influencer.name}}</strong></div>
                    <div class="table-data-influencer" style = "align-self: center"><strong>{{influencer.followers_count}}</strong></div>
                  </div>
                  <hr>
                  {% endfor %}
                </div>  
              </div>
            </div>
          </div>
          <div class = "col-sm-1" style="border-right: 2px solid grey"></div>
          <!-- This column contains the top 7 named entitiy data displayed using styling sthrew script. -->
          <div class = "col-xl-4" style = "margin-left: 8%;margin-right: 1%;margin-top: 1%;margin-bottom: 1%;">
            <br>
            <div class = "row entity-heading" style = "margin: auto">
              <h4> Check ! what people are talking about : </h4>
            </div>
            <br>
            {% for item in statistical_data.overall_found_entities %}
            <br>
            <div class = "entity-div">
              <div class = "row entityname-div" style = "text-shadow: 3px">
                <strong>{{item.entity_name}}</strong>
              </div>
              <br>
              <div class = "row col-12 bar-div" style = "background:#f0f0f0;border-radius: 3px;height: 7px;box-shadow: 0 0 5px 1px">
                <div class = "barnum-div" id="{{item.entity_name}}" style = "width:20%;background:blue;border-radius: 3px;height: 7px;box-shadow: 0 0 15px blue">
                </div>
                <!-- ****************************************************************************************************************************************** -->
                <!-- This script is for increasing the width of barnum-div container which is just above this script for animated display of bars corresponsing to the named entitiy. -->
                <script type="text/javascript">
                    var el = document.getElementById("{{item.entity_name}}");
                    var width = {{item.frequencey_percentage}} + 3;
                    el.style.width = width.toString() + '%'
                </script>
                <!-- ****************************************************************************************************************************************** -->
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        <br>
      </div>
      <br>
      <br>
      <!-- ***************************************************************************************************************************************************** -->
      <!-- This div container is a sixth row and displays the most active twitter users who were talking about that product. Each user profile is displayed via slider using slick plugin containing their description profile photo screen name and their number of tweets. -->
      <div class = "row" style = "margin-left: 1%;margin-right: 4%;background-color: white;box-shadow: 0 0 20px #999999;background:white">
        <div class = "col-md-12"></div>
        <br>
        <br>
        <!-- Heading -->
        <div style = "margin:auto!important">
          <h4><strong> Most Active Users </strong></strong> </h4>
        </div>
        <!-- ************************************************************************************************************************************************* -->
        <!-- This contains the script for showing contents of active-user-slide div container which is just below this script in slide form. -->
        <script type="text/javascript">
          $(document).ready(function(){
            $('.active-user-slider').slick({
              autoplay:true,
              autoplaySpeed:2000,
              slidesToShow: 3,
              dots:true,
              infinite:true,
              responsive: [
                {
                  breakpoint: 1200,
                  settings: {
                    arrows: false,
                    centerMode: true,
                    centerPadding: '40px',
                    slidesToShow: 1
                  }
                },
                {
                  breakpoint: 600,
                  settings: {
                    arrows: false,
                    centerMode: true,
                    centerPadding: '40px',
                    slidesToShow: 1
                  }
                }
              ]
            });
          });
        </script>
        <!-- ************************************************************************************************************************************************* -->
        <!-- This div container contains the the data about the top most active twitter user which tweeted about the given product. -->
        <div class="col-md-12 active-user-slider">
          {% for influencer in statistical_data.overall_active_users %}
            <div class="influencer-box" style = "background:white">
              <div style = "align-self: center;background : grey">
                <div class = "row" style = "margin-top: 0.5%;margin-left: 0.5%;margin-bottom: 0.5%;margin-right: 0.5%">
                  <div class = "col-2">
                    <img style = "height:3rem;width:3rem;border-radius: 50%;" src="{{influencer.profile_link}}" >
                  </div>
                  <div class = "col-10" style = "align-items: center">
                    <strong>{{influencer.name}}</strong>
                  </div>
                </div>
              </div>
              <br>
              <div style = "align-self: center;color:#374c63;margin-left: 5%;margin-right: 5%"><strong>Description : </strong> {{influencer.description}}</div>
              <br>
              <div style = "align-self: center"><strong>Followers :</strong> {{influencer.followers_count}}</div>
              <br>
              <div style = "align-self: center"><strong>Tweets : </strong> {{influencer.value}}</div>
              <br>
            </div>
          {% endfor %}
        </div>
        <hr>
        <!-- ********************************************************************************************************************************************** -->
        <!-- This is for styling the contents displayed in active-user-slide container. -->
        <style type="text/css">
          .active-user-slider {
              width: 100%;
              height: 100%;
              margin-left: 1%;
              margin-bottom: 1%;
              margin-top: 1%;
              margin-right: 1%;
          }

          .influencer-box { 
              min-width: 230px;
              height: 100%;
              box-shadow: 0 0 10px 1px;
              margin-top: 1%;
              margin-bottom: 1%;
              margin-right: 1%;
              margin-left: 1%;
              text-align: center;
              align-items: center;
          }
        </style>
        <!-- ******************************************************************************************************************************************** -->

      </div>
      <br>
      <br>
      <!-- ***************************************************************************************************************************************************** -->
      <!-- This div container is the seventh row and contains the two column of which first displays the most liked tweets and second displays the most retweeted tweets. -->

      <div style = "margin-left: 1%;margin-right: 4%;background-color: white;box-shadow: 0 0 20px blue">
        <div class = "row"></div>
        <div class = "row" style = "margin-top: 2%;margin-bottom: 2%">
          <div class = "col-xl-6" style = "margin-left: 1%;margin-right: 1%;margin-top: 1%;margin-bottom: 1%;">
            <div class="container-influencer">
              <div class="table-influencer">
                <div class="row table-header-influencer">
                  <div class="col-sm-9 header__item"><a id="name" class="filter__link" href="#">Most Liked Tweets </a></div>
                  <div class="col-sm-3 header__item"><a id="wins" class="filter__link filter__link--number" href="#">Likes</a></div>
                </div>
                <br>
                <hr>
                <div class="table-content-influencer"> 
                  {% for tweet in statistical_data.overall_liked_tweets %}
                  <div class="row table-row-influencer">   
                    <div class="col-sm-9 table-data-influencer" style = "align-self: center;font-size: 0.8rem !important"><strong>{{tweet.text}}</strong></div>
                    <div class="col-sm-3 table-data-influencer" style = "align-self: center;font-size: 0.8rem !important"><strong>{{tweet.value}}</strong></div>
                  </div>
                  <hr>
                  {% endfor %}
                </div>  
              </div>
            </div>
          </div>
          &nbsp
          <div class = "col-xl-5" style = "margin-left: 1%;margin-right: 1%;margin-top: 1%;margin-bottom: 1%;">
            <div class="container-influencer">
              <div class="table-influencer">
                <div class="row table-header-influencer">
                  <div class="col-sm-9 header__item"><a id="name" class="filter__link" href="#">Most Retweeted</a></div>
                  <div class="col-sm-3 header__item"><a id="wins" class="filter__link filter__link--number" href="#">Retweets</a></div>
                </div>
                <br>
                <hr>
                <div class="table-content-influencer"> 
                  {% for tweet in statistical_data.overall_retweeted_tweets %}
                  <div class="row table-row-influencer">   
                    <div class="col-sm-9 table-data-influencer" style = "align-self: center;font-size: 0.8rem !important"><strong>{{tweet.text}}</strong></div>
                    <div class="col-sm-3 table-data-influencer" style = "align-self: center;font-size: 0.8rem !important"><strong>{{tweet.value}}</strong></div>
                  </div>
                  <hr>
                  {% endfor %}
                </div>  
              </div>
            </div>
          </div>    
        </div>
        <br>
      </div>    
      <br>
      <!-- ***************************************************************************************************************************************************** -->
      <!-- This div container is the eighth row and displays the most positive tweets in the slide form -->
      <div class = "row" style = "margin-left: 1%;margin-right: 4%;background-color: white;box-shadow: 0 0 20px #999999;background:white">
        <div class = "col-md-12"></div>
        <br>
        <br>
        <div style = "margin:auto!important">
          <h4><strong> Most Positive tweets </strong></strong> </h4>
        </div>
        <script type="text/javascript">
          $(document).ready(function(){
            $('.positive-tweet-slider').slick({
              autoplay:true,
              autoplaySpeed:2000,
              slidesToShow: 3,
              dots:true,
              infinite:true,
              responsive: [
                {
                  breakpoint: 1200,
                  settings: {
                    arrows: false,
                    centerMode: true,
                    centerPadding: '40px',
                    slidesToShow: 1
                  }
                },
                {
                  breakpoint: 600,
                  settings: {
                    arrows: false,
                    centerMode: true,
                    centerPadding: '40px',
                    slidesToShow: 1
                  }
                }
              ]
            });
          });
        </script>
        <div class="col-md-12 positive-tweet-slider">
          {% for tweet in statistical_data.overall_positive_tweets %}
            <div class="tweet-box" style = "background:white">
              <br>
              <div style = "align-self: center;color:#374c63;margin-left: 5%;margin-right: 5%"><strong>{{tweet.text}}</strong></div>
              <br>
            </div>
          {% endfor %}
        </div>
        <hr>
        <style type="text/css">
          .positive-tweet-slider {
              width: 100%;
              height: 100%;
              margin-left: 1%;
              margin-bottom: 1%;
              margin-top: 1%;
              margin-right: 1%;
          }

          .tweet-box { 
              min-width: 230px;
              height: 100%;
              box-shadow: 0 0 10px 1px;
              margin-top: 1%;
              margin-bottom: 1%;
              margin-right: 1%;
              margin-left: 1%;
              text-align: center;
              align-items: center;
          }
        </style>

      </div>
      <!-- ***************************************************************************************************************************************************** -->
      <!--  -->

        <!-- This script is responsible for displaying the graph in "graph" div container (third row) and table in "table" div container. -->
        <script>
        var graphDiv = document.getElementById('graph');
        var tableDiv = document.getElementById('table');
        // Since N = 30 this means last month data will be displayed.
        var N = 30;
        var color1 = '#7b3294';
        var color1Light = '#c2a5cf';
        var colorX = '#ffa7b5';
        var colorY = '#fdae61';

        console.log({{graph_data.tweets_volume|safe}})
        console.log({{graph_data.dates|safe}})

        // All the context data is stored in script variable .
        tweets_volume = {{graph_data.tweets_volume}}
        dates = {{graph_data.dates|safe}}
        tv_airing_time = {{graph_data.tv_airing_time|safe}}
        commercial_airing_time = {{graph_data.commercial_airing_time|safe}}
        

        var y = tweets_volume;
        var x =  dates;
        var z = tv_airing_time;
        var z1 = commercial_airing_time;
        
        // **************************************************************************************************************************************************
        // This plotly script is responsible for displaying the graph for twitter tweet volume, Tv airing volume and Commercial airing volume when the index.html is loaded for first time .
        Plotly.plot(graphDiv, [{
          type: 'line',
          mode: 'markers+lines',
          x: x,
          y: y,
          xaxis: 'x',
          yaxis: 'y',
          name: 'Twitter Volume data',
          marker: {color: color1, size: 7}
        },{
          type: 'line',
          mode: 'markers+lines',
          x: x,
          y: z,
          xaxis: 'x',
          yaxis: 'y',
          name : 'TV Time Volume data',
          marker: {color: 'red', size:7}

        },{
          type: 'line',
          mode: 'markers+lines',
          x: x,
          y: z1,
          xaxis: 'x',
          yaxis: 'y',
          name : 'Commercial Time Volume data',
          marker: {color: 'orange', size:7}

        }], {
          title: '製品動向分析',
          autosize: true,
          dragmode: 'lasso',
          showlegend: true, 
          legend: { xanchor: 'center', x: 0.5,y:0.3, orientation: 'h' },
          updatemenus: [{
            y: 0,
            x: 0.55,
            yanchor: 'bottom',
            buttons: [{
              method: 'restyle',
              args: ['type','line'],
              label: 'Line View'
            },{
              method: 'restyle',
              args: ['type','bar'],
              label: 'Bar View'
            }]
          }],
          xaxis: {
            zeroline: false,
          },
          yaxis: {
            domain: [0.55, 1],
          },
          xaxis2: {
            domain: [0, 0.45],
            anchor: 'y2',
          },
          yaxis2: {
            domain: [0, 0.45],
            anchor: 'x2'
          },
          xaxis3: {
            domain: [0.55, 1],
            anchor: 'y3'
          },
          yaxis3: {
            domain: [0, 0.45],
            anchor: 'x3'
          },
          height: 600,
        },{
          responsive: true
        });
        // **********************************************************************************************************************
        var values = [x,y,z,z1]
        // Here data to be displayed in table is stored in particular format.
        var data = [{
          type: 'table',
          header: {
            values:[["<b>Date</b>"],["<b>Tweet Volume</b>"],["<b>TV Time Volume</b>"],["<b>Commercial Time Volume</b>"]],
            align: "center",
            line: {width: 1, color: 'black'},
            fill: {color: "black"},
            font: {family: "Arial", size: 12, color: "white"}
          },
          cells: {
            values: values,
            align: "center",
            line: {color: "black", width: 1},
            font: {family: "Arial", size: 11, color: ["black"]}
          }
        }]
        // This is responsible for displaying the table for when index.html is loaded for first time.
        Plotly.plot(tableDiv,data,{responsive: true});
        // ****************************************************************************************************************************
        // When the user selects some points on graph using selector this function will run and it will highlight the points selcted on graph using restyle method and it will show only selected data in the table.
        graphDiv.on('plotly_selected', function(eventData) {
          var x = [];
          var y = [];
          var z = [];
          var z1 = [];
          var colors = [];
          var hash = []
          for (var i = 0; i < N; i++) hash.push(0);
          for(var i = 0; i < N; i++) colors.push(color1Light);

          eventData.points.forEach(function(pt) {
            if (hash[pt.pointNumber]==0){
              x.push(dates[pt.pointNumber]);
              y.push(tweets_volume[pt.pointNumber]);
              z.push(tv_airing_time[pt.pointNumber]);
              z1.push(commercial_airing_time[pt.pointNumber]);
              colors[pt.pointNumber] = color1;
              hash[pt.pointNumber] = 1
            }
          });

          var values = [x,y,z,z1]
          console.log(values)
          console.log(x)

          // Data for showing the selected data in the table.
          var data = [{
            type: 'table',
            header: {
              values:[["<b>Date</b>"],["<b>Tweet Volume</b>"],["<b>TV Time Volume</b>"],["<b>Commercial Time Volume</b>"]],
              align: "center",
              line: {width: 1, color: 'black'},
              fill: {color: "black"},
              font: {family: "Arial", size: 12, color: "white"}
            },
            cells: {
              values: values,
              align: "center",
              line: {color: "black", width: 1},
              font: {family: "Arial", size: 11, color: ["black"]}
            }
          }]

          // For restyling the graph
          Plotly.restyle(graphDiv, [{
            x: x,
            y: y,
            xbins: {}
          },{
            x: x,
            y: z,
            xbins: {}
          },{
            x: x,
            y: z1,
            xbins: {}
          }], [1, 2]);

          Plotly.restyle(graphDiv, 'marker.color', [colors], [0]);
          Plotly.purge(tableDiv);
          Plotly.plot(tableDiv,data,{responsive: true});
        });
        // ******************************************************************************************************************************************
        </script>
        <!-- *************************************************************************************************************************************************** -->
    </div>
    <!-- ******************************************************************************************************************************************************* -->
  </section>
  <!-- ********************************************************************************************************************************************************* -->

  <!-- ********************************************************************************************************************************************************* -->
  <!-- This section contains the form for downloading the twitter data.-->
  <section id="Data" class="blog-section bg-light">
    <div class="container">
      <div class="row align-items-center no-gutters mb-4 mb-lg-5">
        <!-- *************************************************************************************************************************************************** -->
        <!-- This div container contains the form-type for downloading the twitter data of given product -->
        <div class="col-xl-8 col-lg-7">
          <div class="card text-center">
            <div class="card-header">
              <h4 class="text-white">ここからダウンロード</h4>
            </div>

            <div class="card-body">
              <div class = "row">
                <div class = "col-sm-6 col-md-6"> 
                  <select name="people" id="datatype" class="form-control" style = "height: 100%;width: 100%">
                    <option value="#">Last day</option>
                    <option value="#">Last week</option>
                    <option value="#">Last month</option>
                  </select>
                </div>
                <div class = "col-sm-6 col-md-6"> 
                  <a href="#"  onclick="download_csv()" class="btn btn-primary">Twitterデータをダウンロードする</a>
                </div>
              </div>
            </div>
            <div class="card-footer text-muted">
              {{ recent_blogpost.posted_at }}
            </div>
          </div>
        </div>
        <!-- ************************************************************************************************************************************************ -->
        <script>
          var data = {{csv_data|safe}}
          console.log({{csv_data|safe}})
           
          function download_csv() {
            var datatype = $('#datatype').find("option:selected").text();
            console.log(datatype);
            var length = 1;
            var product_search_name = $('.product-actual-name').attr("id");
            console.log(product_search_name);
            if (datatype == "Last week"){
              length = 7;
            }
            if (datatype == "Last month"){
              length = 30;
            }
            console.log(length)
            var urlEndpoint = "{% url 'Profile:subscription' %}";
            var formData = {'length':length,'product_search_name':product_search_name};
            console.log(urlEndpoint);
            $.ajax({
              url: "/profile/csv_download/",
              method: "POST",
              data: formData,
              success: function(response){
                var csvdata;
                csvdata = response.csv_data;
                console.log(csvdata);

                var csv;
                csvdata.forEach(function(row) {
                        csv += '"' + row[0] + '"'+ ',' + row[1] + ',' + row[2] 
                        csv += "\n";
                });
                
                var hiddenElement = document.createElement('a');
                hiddenElement.href = 'data:text/csv;charset=utf-8,' + encodeURI(csv);
                hiddenElement.target = '_blank';
                hiddenElement.download = 'twitterdata.csv';
                hiddenElement.click();
              },
              error: function(response){
                console.log("sorry error occured");
              }
            });          
          }
        </script>
      </div>
    </div>
    <!-- ******************************************************************************************************************************************************-->
  </section>
  <!-- ********************************************************************************************************************************************************* -->
</div>
<!-- Projects Section -->

<script src="{% static "base/js/Projects.js" %}" charset="utf-8"></script>

{% endblock %}
<!--*************************************************************************************************************************************************************** -->