@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');

$base-spacing-unit: 24px;
$half-spacing-unit: $base-spacing-unit / 2;

$color-alpha: #1772FF;
$color-form-highlight: #EEEEEE;

*, *:before, *:after {
  box-sizing:border-box;
}

body {
  padding:$base-spacing-unit;
  font-family:'Source Sans Pro', sans-serif;
  margin:0;
}

h1,h2,h3,h4,h5,h6 {
  margin:0;
}

.container-influencer {
  font-size: 10px!important
  max-width: 1300px;
  margin-right:auto;
  margin-left:auto;
  display:flex;
  justify-content:center;
  align-items:start
  min-height:100vh;
}

.table-influencer {
  width:100%;
  border:1px solid $color-form-highlight;
}

.table-header-influencer {
  margin-left:0.8rem;
  margin-right:0.8rem;
  margin-top:0.8rem;
  margin-bottom:0.8rem;
  display:flex;
  width:100%;
  background:#000;
  padding:($half-spacing-unit * 1.5) 0;
}

.table-row-influencer {
  margin-left:0.8rem;
  margin-right:0.8rem;
  margin-top:0.8rem;
  margin-bottom:0.8rem;
  display:flex;
  width:100%;
  padding:($half-spacing-unit * 1.5) 0;
  background-color: white;
  
  &:nth-of-type(odd) {
    background:$color-form-highlight;
  }
}

.table-data-influencer, .header__item {
  margin-left:0.8rem;
  margin-right:0.8rem;
  margin-top:0.8rem;
  margin-bottom:0.8rem;
  flex: 1 1 20%;
  text-align:center;
}

.header__item {
  margin-left:0.8rem;
  margin-right:0.8rem;
  margin-top:0.8rem;
  margin-bottom:0.8rem;
  text-transform:uppercase;
}

.filter__link {
  color:white;
  text-decoration: none;
  position:relative;
  display:inline-block;
  padding-left:$base-spacing-unit;
  padding-right:$base-spacing-unit;
  
  &::after {
    content:'';
    position:absolute;
    right:-($half-spacing-unit * 1.5);
    color:white;
    font-size:$half-spacing-unit;
    top: 50%;
    transform: translateY(-50%);
  }
  
  &.desc::after {
    content: '(desc)';
  }

  &.asc::after {
    content: '(asc)';
  }
  
}