{% load staticfiles %}
<!-- ****************************************************************************************************************************************************** -->
<!-- This div further subholds the all data under section and its is just to wrap the whole data for positioning and featuring in future. -->
<div style = "margin-left: 2%;margin-right: 2%">
  <!-- **************************************************************************************************************************************************** -->
  <!-- This div is a first row inside upper div container it contains the twitter analysis info about the keyword searched. Like Positive tweets volume,negative tweets volume, and info about other parameters. -->
  <div class = "row" style = "margin-left: 1%;margin-right: 4%;background-color: white;box-shadow: 0 0 20px 1px">
    <div class="col-md-12" style = "margin-left: 2%;margin-top: 2%;margin-bottom: 2%;margin-right: 2%">
      <h4>
        <i class="fa fa-pie-chart" aria-hidden="true"></i>&nbsp Twitter Analysis
      </h4>
    </div>
    <hr>
    <div class = "col-md-1">
    </div>
    <div class="col-md-3" style="border-right: orange">
      <div style = "display:block;margin-top:40%;margin-bottom: 50%;align-self: center;text-align: center">
        <h1 style = "align-self: center;color:orange;text-align: center;font-weight: 800;text-shadow: 2px 2px 8px orange"> {{statistical_data.total_tweets}} </h1>
        <br>
        <h6 style = "align-self: center;text-align: center;font-size: 1.2rem;color:blue;text-shadow: 0px 0px 2px blue"> Tweets Analysed from past week </h6>
      </div>
    </div>
    <div class = "col-md-8">
      <div class = "row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-4" style = "text-align: center">
                <img class="img-circle" src="https://cdn.shopify.com/s/files/1/1061/1924/products/Happy_Emoji_Icon_5c9b7b25-b215-4457-922d-fef519a08b06_large.png?v=1542446801" alt="Generic placeholder image" style = "height:60px;width:60px;border-radius: 50%;box-shadow: 0px 0px 15px #93a1a1">
                <br>
                <br>
                <h6><strong>Positive Volume <i class="fa fa-question-circle-o" aria-hidden="true"></i></strong> </h6>
                <p><a class="btn btn-default" role="button">{{statistical_data.positive_count_percentage}} %</a></p>
              </div><!-- /.col-lg-4 -->
              <div class="col-md-4" style = "text-align: center">
                <img class="img-circle" src="http://cdn.shopify.com/s/files/1/1061/1924/products/Sad_Face_Emoji_grande.png?v=1480481055" alt="Generic placeholder image" style = "height:60px;width:60px;border-radius: 50%;box-shadow: 0px 0px 15px #93a1a1">
                <br>
                <br>
                <h6><strong>Negative Volume <i class="fa fa-question-circle-o" aria-hidden="true"></i></strong> </h6>
                <p><a class="btn btn-default" role="button">{{statistical_data.negative_count_percentage}} %</a></p>
              </div><!-- /.col-lg-4 -->
              <div class="col-md-4" style = "text-align: center">
                <img class="img-circle" src="https://emojis.wiki/emoji-pics/facebook/neutral-face-facebook.png" style = "height:60px;width:60px;border-radius: 50%;box-shadow: 0px 0px 15px #93a1a1">
                <br>
                <br>
                <h6><strong>Neutral Volume <i class="fa fa-question-circle-o" aria-hidden="true"></i></strong> </h6>
                <p><a class="btn btn-default" role="button">{{statistical_data.neutral_count_percentage}}%</a></p>
              </div><!-- /.col-lg-4 -->
            </div>
          </div>
          
          <br>
          <br>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-4" style = "text-align: center">
                <img class="img-circle" src="https://i0.wp.com/www.communicateandhowe.com/wp-content/uploads/2015/01/retweet.png?resize=300%2C300" alt="Generic placeholder image" style = "height:60px;width:60px;border-radius: 50%;box-shadow: 0px 0px 15px #93a1a1">
                <br>
                <br>
                <h6><strong>Retweets / tweet<i class="fa fa-question-circle-o" aria-hidden="true"></i></strong> </h6>
                <p><a class="btn btn-default" role="button">{{statistical_data.retweet_per_tweet_count_percentage}}</a></p>
              </div><!-- /.col-lg-4 -->
              <div class="col-md-4" style = "text-align: center">
                <img class="img-circle" src="http://seosocial.lucas.pw/wp-content/uploads/2016/02/exibirImagemMaisRecente.png" alt="Generic placeholder image" style = "height:60px;width:60px;border-radius: 50%;box-shadow: 0px 0px 15px blue">
                <br>
                <br>
                <h6><strong>Likes / tweet <i class="fa fa-question-circle-o" aria-hidden="true"></i></strong> </h6>
                <p><a class="btn btn-default" role="button">{{statistical_data.likes_per_tweet_count_percentage}}</a></p>
              </div><!-- /.col-lg-4 -->
              <div class="col-md-4" style = "text-align: center">
                <img class="img-circle" src="https://image.flaticon.com/icons/png/512/33/33308.png" style = "height:60px;width:60px;border-radius: 50%;box-shadow: 0px 0px 15px black">
                <br>
                <br>
                <h6><strong>Original Tweets Volume <i class="fa fa-question-circle-o" aria-hidden="true"></i></strong> </h6>
                <p><a class="btn btn-default" role="button">{{statistical_data.original_count_percentage}} %</a></p>
              </div><!-- /.col-lg-4 -->
            </div>
            <br>
            <br>

          </div>
      </div>
    </div>s
  </div>
  <br>
  <br>
  <!-- ************************************************************************************************************************************************************* -->
  <!-- This is a second row inside div container and displays the graph based on 5 parameters for each day.Parameters are positive tweet volume,negative tweet volume,neutral tweet volume, Retweet per tweet volume and like per tweet volume.  -->
  <div class = "row" style = "margin-left: 1%;margin-right: 4%;background-color: white;box-shadow: 0 0 20px 1px">
      <div class = "col-md-12" id="graph"></div>
       <script type="text/javascript">
        var graphDiv = document.getElementById('graph');
        var N = 30;
        var color1 = '#7b3294';
        var color1Light = '#c2a5cf';
        var colorX = '#ffa7b5';
        var colorY = '#fdae61';
        // *********************************************************************************************************************************
        // In this part of script all the data to be displayed on graph is collected from context and is stored in javasript variables.
        positive_volume = {{statistical_data.positive_count_list}}
        negative_volume = {{statistical_data.negative_count_list}}
        neutral_volume = {{statistical_data.neutral_count_list}}
        average_retweet_volume = {{statistical_data.average_retweet_count_list}}
        average_like_volume = {{statistical_data.average_likes_count_list}}  
        dates = {{statistical_data.dates_list}}
        console.log(positive_volume)
        console.log(negative_volume)
        console.log(neutral_volume)
        console.log(average_retweet_volume)
        console.log(average_like_volume)
        console.log(graphDiv)

        var y1 = positive_volume;
        var y2 = negative_volume;
        var y3 = neutral_volume;
        var y4 = average_retweet_volume;
        var y5 = average_like_volume;
        var x =  dates;
        // *********************************************************************************************************************************
        // In this part of scipt using plotly.plot() graph is plotted for above data.
        Plotly.plot(graphDiv, [{
          type: 'line',
          mode: 'markers+lines',
          x: x,
          y: y1,
          xaxis: 'x',
          yaxis: 'y',
          name: 'Positive Volume',
          marker: {color: 'red', size: 7}
        },{
          type: 'line',
          mode: 'markers+lines',
          x: x,
          y: y2,
          xaxis: 'x',
          yaxis: 'y',
          name: 'Negative Volume',
          marker: {color: color1Light, size: 7}
        },{
          type: 'line',
          mode: 'markers+lines',
          x: x,
          y: y3,
          xaxis: 'x',
          yaxis: 'y',
          name: 'Neutral Volume',
          marker: {color: 'orange', size: 7}
        },{
          type: 'line',
          mode: 'markers+lines',
          x: x,
          y: y4,
          xaxis: 'x',
          yaxis: 'y',
          name: 'Average Retweets Volume',
          marker: {color: 'blue', size: 7}
        },{
          type: 'line',
          mode: 'markers+lines',
          x: x,
          y: y5,
          xaxis: 'x',
          yaxis: 'y',
          name: 'Average like Volume',
          marker: {color: 'black', size: 7}
        }], {
          title: '製品動向分析',
          autosize: true,
          dragmode: 'lasso',
          showlegend: true, 
          legend: { xanchor: 'center', x: 0.5,y:0.3, orientation: 'h' },
          updatemenus: [{
            y: 0,
            x: 0.55,
            yanchor: 'bottom',
            buttons: [{
              method: 'restyle',
              args: ['type','line'],
              label: 'Line View'
            },{
              method: 'restyle',
              args: ['type','bar'],
              label: 'Bar View'
            }]
          }],
          xaxis: {
            zeroline: false,
          },
          yaxis: {
            domain: [0.55, 1],
          },
          xaxis2: {
            domain: [0, 0.45],
            anchor: 'y2',
          },
          yaxis2: {
            domain: [0, 0.45],
            anchor: 'x2'
          },
          xaxis3: {
            domain: [0.55, 1],
            anchor: 'y3'
          },
          yaxis3: {
            domain: [0, 0.45],
            anchor: 'x3'
          },
          height: 600,
        },{
          responsive: true
        });
        // *********************************************************************************************************************************************************
      </script>
  
  </div>
  <br>
  <br>
  <!-- ******************************************************************************************************************************************************************* -->
  <!-- This div container is third row inside the div container and it displays the Most pospular twitter user that tweeted about the given product. -->
  <div style = "margin-left: 1%;margin-right: 4%;background-color: white;box-shadow: 0 0 20px blue">
    <div class = "row"></div>
    <div class = "row" style = "margin-top: 2%;margin-bottom: 2%">
      <div class = "col-md-11" style = "margin-left: 1%;margin-right: 4%;margin-top: 1%;margin-bottom: 1%;">
        <div class="container-influencer">
          <div class="table-influencer">
            <div class="table-header-influencer">
              <div class="header__item"><a id="name" class="filter__link" href="#">Most Popular </a></div>
              <div class="header__item"><a id="wins" class="filter__link filter__link--number" href="#">Name</a></div>
              <div class="header__item"><a id="name" class="filter__link" href="#">Followers</a></div>
            </div>
            <br>
            <hr>
            <div class="table-content-influencer"> 
              {% for influencer in statistical_data.overall_popular_users %}
              <div class="table-row-influencer">   
                <div class="table-data-influencer" style = "align-self: center;"><img style = "height:3rem;width:3rem;border-radius: 50%" src="{{influencer.profile_link}}" ></div>
                <div class="table-data-influencer" style = "align-self: center"><strong>{{influencer.name}}</strong></div>
                <div class="table-data-influencer" style = "align-self: center"><strong>{{influencer.followers_count}}</strong></div>
              </div>
              <hr>
              {% endfor %}
            </div>  
          </div>
        </div>
      </div>
    </div>
    <br>
  </div>
  <br>
  <br>
  <!-- ******************************************************************************************************************************************************************* -->
  <!-- This div container is fourth row inside the div containe rand it displays the Most active twitter user that tweeted about the given product. The data abput ther user is shown in the slide form using the slick plugin. -->
  <div class = "row" style = "margin-left: 1%;margin-right: 4%;background-color: white;box-shadow: 0 0 20px #999999;background:white">
    <div class = "col-md-12"></div>
    <br>
    <br>
    <div style = "margin:auto!important">
      <h4><strong> Most Active Users </strong></strong> </h4>
    </div>
    <!-- ******************************************************************************************************************************************************************* -->
    <!-- This script is responsible for showing the contents of active-user-slider div container which is just below this script in the slide form using slick. -->
    <script type="text/javascript">
      $(document).ready(function(){
        $('.active-user-slider').slick({
          autoplay:true,
          autoplaySpeed:2000,
          slidesToShow: 3,
          dots:true,
          infinite:true,
          responsive: [
            {
              breakpoint: 1200,
              settings: {
                arrows: false,
                centerMode: true,
                centerPadding: '40px',
                slidesToShow: 1
              }
            },
            {
              breakpoint: 600,
              settings: {
                arrows: false,
                centerMode: true,
                centerPadding: '40px',
                slidesToShow: 1
              }
            }
          ]
        });
      });
    </script>
    <!-- ******************************************************************************************************************************************************************* -->
    <!-- This div container contains the contents about the most active user that is neede to be displayed in slide form.-->
    <div class="col-md-12 active-user-slider">
      {% for influencer in statistical_data.overall_active_users %}
        <div class="influencer-box" style = "background:white">
          <div style = "align-self: center;background : grey">
            <div class = "row" style = "margin-top: 0.5%;margin-left: 0.5%;margin-bottom: 0.5%;margin-right: 0.5%">
              <div class = "col-2">
                <img style = "height:3rem;width:3rem;border-radius: 50%;" src="{{influencer.profile_link}}" >
              </div>
              <div class = "col-10" style = "align-items: center">
                <strong>{{influencer.name}}</strong>
              </div>
            </div>
          </div>
          <br>
          <div style = "align-self: center;color:#374c63;margin-left: 5%;margin-right: 5%"><strong>Description : </strong> {{influencer.description}}</div>
          <br>
          <div style = "align-self: center"><strong>Followers :</strong> {{influencer.followers_count}}</div>
          <br>
          <div style = "align-self: center"><strong>Tweets : </strong> {{influencer.value}}</div>
          <br>
        </div>
      {% endfor %}
    </div>
    <hr>
    <!-- **************************************************************************************************************************************************************** -->
    <!-- This is for styling the content displayed inside active-user-slider container. -->
    <style type="text/css">
      .active-user-slider {
          width: 100%;
          height: 100%;
          margin-left: 1%;
          margin-bottom: 1%;
          margin-top: 1%;
          margin-right: 1%;
      }

      .influencer-box { 
          min-width: 230px;
          height: 100%;
          box-shadow: 0 0 10px 1px;
          margin-top: 1%;
          margin-bottom: 1%;
          margin-right: 1%;
          margin-left: 1%;
          text-align: center;
          align-items: center;
      }
    </style>
    <!-- *************************************************************************************************************************************************************** -->
  </div>  
  <!-- ***************************************************************************************************************************************************************** -->
</div>
<!-- ******************************************************************************************************************************************************************* -->
