{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

<!-- Navbar -->
{% block navigation %}
  <li class="nav-item">
    <a class="nav-link" href="{% url 'Blog:Blog_index' %}"> ホーム
 </a>
  </li>
  {% if user.is_authenticated %}
  <li class="nav-item">
    <a class="nav-link" href="{% url 'Profile:index' %}"> 製品分析
 </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'custom_search:index' %}"> カスタムTwitter検索
 </a>
  </li>
  {% endif %}
  <li class="nav-item">
    <a class="nav-link js-scroll-trigger" href="#signup">接触</a>
  </li>
  {% if user.is_authenticated %}
  <li class="nav-item">
    <a class="nav-link" href="{% url "Blog:Logout" %}">ログアウト</a>
  </li>
  {% else %}
  <li class="nav-item">
    <a class="nav-link sign-up">サインアップ</a>
  </li>
  <li class="nav-item">
    <a class="nav-link log-in">ログイン</a>
  </li>
  {% endif %}

{% endblock %}

<!-- Heading Text -->
{% block heading_text %}{{ blurb.blurb }}{% endblock %}

<!-- Main content -->
{% block content %}
  <section id="about" class="about-section text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 class="text-white mb-4" style = "color: black !important;">会社 X </h2>
          <p class="text-white-50" style = "color: black !important;"></p>
        </div>
      </div>
    </div>
  </section>

  <!-- Sign up form -->
  <div class="bg-modal signup"
    {% if pw_mismatch or user_exists or invalid_fields %}
    style="display:flex"
    {% endif %}
    >
    <div class="modal-content-signup" style="margin-left: 10rem !important;margin-right: 10rem !important">
      <div class="close">+</div>
      <div class="login-brand">
        <h2 class="blog-brand">ここでサインアップ</h2>
      </div>
      <div class="registration-error">
        {% if pw_mismatch %}
          <p style="color:red">パスワードが一致しません</p>
        {% elif user_exists %}
          <p style="color:red">そのユーザーは既に存在します。</p>
        {% elif invalid_fields %}
          <p style="color:red">すべてのフィールドが有効であることを確認してください。</p>
        {% endif %}
      </div>
      <div class="container">
        <div class="login-form">
          <form class="" action="{% url "Blog:Registration" %}" method="POST">
            {% csrf_token %}
            {{ registration_form|crispy }}
            <div class="login-submit-form"><input class="btn btn-primary" type="submit" name="" value="Submit"></div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Log-in form -->
  <div class="bg-modal login"
  {% if login_error %}
    style="display:flex"
  {% endif %}
  >
    <div class="modal-content">
      <div class="close">+</div>
      <div class="login-brand">
        <h2 class="blog-brand">ここでログイン</h2>
      </div>
      {% if login_error %}
      <div class="login-error">
          <p style="color:red">すべてのフィールドが有効であることを確認してください。</p>
      </div>
      {% endif %}
      <div class="login-form">
        <form class="" action="{% url "Blog:Login" %}" method="POST">
          {% csrf_token %}
          {{ login_form|crispy }}
          <div class="login-submit-form"><input class="btn btn-primary" type="submit" name="" value="Submit"></div>
        </form>
      </div>
      </div>
  </div>

  <!-- blog posts -->
  {% if blogposts|length == 0 %}
  <br>
  <br>
  <br>
    <div style = "margin-left: 18rem !important;margin-right: 15rem !important">
      <div class = "table-responsive">
        <table class = "table">     
        <tr>
          <th style="width:60%">
          <div class = "container blog-container" style="width:90% !important">
            <br>
            <br>
            <br>
            <div class="title_date">
              <div class="post_title">
                <h1>Webアプリケーションについて</h1>
              </div>
              <br>
              <div class="post_date">
                <h4> - 会社Xによって</h4>
              </div>
            </div>
            <br>
            <br>
            <br>
            <div class="photo_subtitle" style="font-weight: normal !important">
              これは会社とこのアプリに関する簡潔な紹介が含まれます。それによって提供される様々なサービスのように。たとえば、ユーザーはグラフを表示したり、各テレビ番組や自分のお気に入りの番組の傾向を比較したりできます。
            </div>
          </div>
          </th>
          <th style="width:40%">
          <div class = "container blog-container" style="width:80% !important">
          <div class = "post_image_wrapper" >
            

            <img class = "post_image" src="https://d1yn1kh78jj1rr.cloudfront.net/image/preview/rnp9KOKvfjdviiioz/storyblocks-pulse-graph-on-monitor-icon-in-simple-style-on-a-white-background_HEYTzz0sz_SB_PM.jpg" alt="Responsive image" style="width:30rem !important;height:25rem !important"/> 
          </div>
          </div>
          </th>
        </tr>
        </table>
      </div>
    </div>
  {% else %}

    {% for blogpost in blogposts %}
      <div class="container blog-container">
        <div class="title_date">
          <div class="post_title">
            <h1>{{ blogpost.title }}</h1>
          </div>
          <div class="post_date">
            <h4>{{ blogpost.posted_at }}</h4>
          </div>
        </div>
        <div class="post_image_wrapper">
          <img class="post_image" src="{{ blogpost.photo.url }}" alt="">
        </div>
        <div class="photo_subtitle">
          <p class="subtitle">{{ blogpost.photo_subtitle }}</p>
        </div>
        <div class="post_body">
          {{ blogpost.body|safe }}
        <hr>
        <h2>Join the discussion:</h2>
        <div class="text-editor">
          {% if user.is_authenticated %}
            <form class="comment-form" enctype="multipart/form-data" action="{% url "Blog:Blog_index" %}" method="post">
              {{ form.media }}
              {{ form|crispy }}
              {% csrf_token %}
              <div class="submit-comment">
                <input class="btn btn-primary comment-submit" type="submit" name="" value="Submit">
              </div>
            </form>
          {% else %}
            <p>Log in or Sign up to vote and leave comments.</p>
            <div class="row">
              <input class="btn btn-primary sign-up-btn" type="submit" name="" value="Sign up">
              <input class="btn btn-primary log-in-btn" type="submit" name="" value="Log in">
            </div>
          {% endif %}
        </div>

          <div class="comments-section">
          <!-- Comment Section  -->
          {% if blogpost.comments.all|length == 0 %}
              <hr>
              <div class="comments">
                <div class="comment-name-date">
                  <h6><strong>Cthulhu</strong> | June 24, 1994</h6>
                </div>
                <div class="comment-body">
                  Be the first to submit a comment!
                </div>
                <div class="vote-reply-score">
                  0
                  <a href="#"><i class="fas fa-chevron-up"></i></a>
                  |
                  <a href="#"><i class="fas fa-chevron-down"></i></a>
                  <a href="#">Reply</a>
                </div>
              </div>
          {% else %}
            {% include "Blog/comments.html" %}
          {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}

  {% endif %}

<div class="pagination">

  {% if is_paginated %}
    <ul class="pagination">
      {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
      {% else %}
        <li class="disabled"><span>&laquo;</span></li>
      {% endif %}

      {% for i in paginator.page_range %}
        {% if page_obj.number == i %}
        <div class="current-page-num">
          <li><a href="?page={{ i }}"><span id="num">{{ i }}</span></a></li>
        </div>
        {% elif i > page_obj.number|add:'-3' and i < page_obj.number|add:'3' %}
      <div class="page-num">
          <li><a href="?page={{ i }}"><span id="num">{{ i }}</span></a></li>
      </div>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
      {% else %}
        <li class="disabled"><span>&raquo;</span></li>
      {% endif %}
    </ul>
  {% endif %}

</div>

{% endblock %}
