#mainNav {
  min-height: 56px;
  background-color: #fff;
}

#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.75rem;
  color: #64a19d;
  border: 1px solid #64a19d;
}

#mainNav .navbar-toggler:focus {
  outline: none;
}

#mainNav .navbar-brand {
  color: #161616;
  font-weight: 700;
  padding: .9rem 0;
}

#mainNav .navbar-nav .nav-item:hover {
  color: fade(white, 80%);
  outline: none;
  background-color: transparent;
}

#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    background-color: transparent;
    -webkit-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
  }
  #mainNav .navbar-brand {
    padding: .5rem 0;
    color: rgba(255, 255, 255, 0.5);
  }
  #mainNav .nav-link {
    -webkit-transition: none;
    transition: none;
    padding: 2rem 1.5rem;
    color: rgba(0, 0, 0, 0.5);
  }
  #mainNav .nav-link:hover {
    color: orange;
  }
  #mainNav .nav-link:active {
    color: black;
  }
  #mainNav.navbar-shrink {
    background-color: #fff;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #161616;
  }
  #mainNav.navbar-shrink .nav-link {
    color: #161616;
    padding: 1.5rem 1.5rem 1.25rem;
    border-bottom: 0.25rem solid transparent;
  }
  #mainNav.navbar-shrink .nav-link:hover {
    color: rgba(12, 60, 38, 0.7);
  }
  #mainNav.navbar-shrink .nav-link:active {
    color: #467370;
  }
  #mainNav.navbar-shrink .nav-link.active {
    color: rgba(12, 60, 38, 0.7);
    outline: none;
    border-bottom: 0.25rem solid rgba(12, 60, 38, 0.7);
  }
}

.masthead {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(22, 22, 22, 0.3)), color-stop(75%, rgba(22, 22, 22, 0.7)), to(#161616)), url("../img/bg-masthead.jpg");
  background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, #161616 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.masthead h1 {
  font-family: 'Varela Round';
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.8rem;
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.masthead h2 {
  max-width: 20rem;
  font-size: 1rem;
}

@media (min-width: 768px) {
  .masthead h1 {
    font-size: 4rem;
    line-height: 4rem;
  }
}

@media (min-width: 992px) {
  .masthead {
    height: 100vh;
    padding: 0;
  }
  .masthead h1 {
    font-size: 6.5rem;
    line-height: 6.5rem;
    letter-spacing: 0.8rem;
  }
  .masthead h2 {
    max-width: 30rem;
    font-size: 1.25rem;
  }
}

.btn {
  -webkit-box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  padding: 1.25rem 2rem;
  font-family: 'Varela Round';
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: .15rem;
  border: 0;
}

.btn-primary {
  background-color: #0C3C26;
}

.btn-primary:hover {
  background-color: #4f837f;
}

.btn-primary:focus {
  background-color: #4f837f;
  color: white;
}

.btn-primary:active {
  background-color: #467370 !important;
}

.about-section {

    padding-top: 10rem;
    background: -webkit-gradient(linear, left top, left bottom, from(#161616), color-stop(75%, rgba(12, 60, 38, 1)), to(rgba(12, 60, 38, 0.9)));
    background: linear-gradient(to bottom, #f0e3e3 0%, rgb(215, 222, 230) 75%, rgba(231, 240, 242, 0.9) 100%);
        background-color: rgba(0, 0, 0, 0);
        background-position-x: 0%;
        background-position-y: 0%;
        background-repeat: repeat;
        background-attachment: scroll;
        background-image: linear-gradient(rgb(240, 227, 227) 0%, rgb(215, 222, 230) 75%, rgba(231, 240, 242, 0.9) 100%);
        background-size: auto;
        background-origin: padding-box;
        background-clip: border-box;

}

.about-section p {
  margin-bottom: 5rem;
}

.aboutme-section {
  padding: 4rem 0 1rem 1rem ;
}

.blog-section {
  padding: 10rem 0 1rem 1rem ;
}

@media (min-width: 992px) {
  .blog-section .featured-text {
    padding: 0 0 0 2rem;
    border-left: 0.5rem solid rgba(12, 60, 38, 0.7);
  }
}

.projects-section {
  padding: 10rem 0;
}

.projects-section .featured-text {
  padding: 2rem;
}

@media (min-width: 992px) {
  .projects-section .featured-text {
    padding: 0 0 0 2rem;
    border-left: 0.5rem solid rgba(12, 60, 38, 0.7);
  }
}

.projects-section .project-text {
  padding: 3rem;
  font-size: 90%;
}

@media (min-width: 992px) {
  .projects-section .project-text {
    padding: 5rem;
  }
  .projects-section .project-text hr {
    border-color: #0C3C26;
    border-width: .25rem;
    width: 30%;
  }
}

.signup-section {
  padding: 10rem 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(12, 60, 38, 0.1)), color-stop(75%, rgba(12, 60, 38, 1)), to(#161616));
  background: linear-gradient(to bottom, rgba(12, 60, 38, 0.1) 0%, rgba(12, 60, 38, 1)) 75%, #161616 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.signup-section .form-inline input {
  -webkit-box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  padding: 1.25rem 2rem;
  height: auto;
  font-family: 'Varela Round';
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  border: 0;
}

.resume-section {
  padding: 5rem 0 10rem 0 ;
}

.contact-section {
  padding: 5rem 0 0;
}

.contact-section .card {
  border: 0;
  border-bottom: 0.25rem solid #64a19d;
}

.contact-section .card h4 {
  font-size: 0.8rem;
  font-family: 'Varela Round';
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}

.contact-section .card hr {
  border-color: rgba(68, 183, 139, 1);
  border-width: 0.25rem;
  width: 3rem;
}

.contact-section .social {
  margin-top: 5rem;
}

.contact-section .social a {
  text-align: center;
  height: 3rem;
  width: 3rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  line-height: 3rem;
  color: rgba(255, 255, 255, 0.3);
}

.contact-section .social a:hover {
  color: rgba(255, 255, 255, 0.5);
}

.contact-section .social a:active {
  color: #fff;
}

body {
  font-family: 'Nunito';
  letter-spacing: 0.0625em;
}

a {
  color: rgba(68, 183, 139, 1);
}

a:focus, a:hover {
  text-decoration: none;
  color: #3c6360;
}

.bg-black {
  background-color: #161616 !important;
}

.bg-primary {
  background-color: #64a19d !important;
}

.text-primary {
  color: rgba(68, 183, 139, 1) !important;
}

footer {
  padding: 5rem 0;
}

.aligner{
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  margin: 0px, auto;
  text-align: center;
}

.imagewrap{
  display: inline-block;
  position: relative;
}

.button-container{
  left: 50%;
  top: 50%;
  position: absolute;
  width: 100%;
  transform: translate(-50%, -50%);
}

.enbBtn{
  font-family: 'Nunito';
  font-size: 20px;
  color: black;
  border: black solid 3px;
  padding: 10px 15px;
}

.imgfade{
  opacity: 0.35;
  transition: all 0.5s ease;
}

.aligner:hover{
  background: transparent;
  opacity: 100
}

.enbBtn:hover{
  color: white !important;
  background: black;
  border: black solid 3px;
  transition: all 0.5s ease
}

.profile_pic{
  margin-left: 1rem;
  height: auto;
  width: auto;
  max-height: 30em;
  max-width: 25em;
  transform: rotate(90deg);
}

.jumbotron{
  background-color: #000000 !important;
}

.card-header{
  background-color: #000000 !important;
}

.blog-container{
    padding-top: 4rem;
    padding-bottom: 10rem;
}

.post_image{
    height: auto;
    width: auto;
    max-width: 69rem;
}

.post_body{
  padding-top: 3rem;
}

.subtitle{
  font-size: 17px;
  color: #808080;
}

.bg-modal{
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup{
  display: none;
}

.login{
  display: none;
}

.modal-content{
  height: 25rem;
  width: 30rem;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  position: fixed;
}

.modal-content-signup{
  height: 42rem;
  width: 38rem;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  position: fixed;
}

.close{
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 42px;
  transform: rotate(45deg);
  cursor: pointer;
}


.login-brand{
  padding-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form{
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}

.blog-brand{
  font-family: 'Arvo', serif;
}

.sign-up{
  cursor: pointer;
}

.log-in{
  cursor: pointer;
}

.comments-section{
  padding-top: 1rem;
}

.comment-submit{
  margin-left: 61.5rem;
}

.comments{
  padding-top: 25px;
}

.pagination{
  margin: auto;
  padding-bottom: 2rem;
}

.page-num{
    border: transparent;
    padding: 2px 5px 2px 5px;
    background: rgba(12, 60, 38, 0.9);
    margin-left: 5px;
    margin-right: 5px;
}

.current-page-num{
    border: transparent;
    padding: 2px 5px 2px 5px;
    background: rgba(12, 60, 38, 0.7);
    margin-left: 5px;
    margin-right: 5px;
}

#num{
  color: white;
}

.text-editor{
  margin-top: 10px;
  margin-left: 2px;
}

.login-styles{
  height: 2.5rem;
  width: 300px;
  font-size: 1rem;
  padding: .2rem;
  color: #495057;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  font-family: 'Arvo', serif;
  margin-bottom: 1.5rem;
}

.login-submit-form{
  text-align: center;
}

.registration-styles{
  height: 2.5rem;
  width: 575px;
  font-size: 1rem;
  padding: .2rem;
  color: #495057;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  font-family: 'Arvo', serif;
  margin-bottom: 1.5rem;
}

.registration-error, .login-error{
  color: red;
  text-align: center;
}

.sign-up-btn{
    margin-left: 13px;
    padding-right: 26px;
    margin-right: 7px;
    padding-left: 26px;
    background-color: white;
    color: #0C3C26;
    border: solid 1px #0C3C26;
}

.reply{
  cursor: pointer;
  color: rgba(68, 183, 139, 1) !important;
}

.reply:hover{
  color: #0C3C26 !important;
}

.cancel-reply, .cancel-edit, .cancel-parent-edit{
    margin-left: 13px;
    padding-right: 26px;
    margin-right: 7px;
    padding-left: 26px;
    background-color: white;
    color: #0C3C26;
    border: solid 1px #0C3C26;
}

.reply-comment-form{
    margin-top: 10px;
    margin-bottom: 13px;
}

.reply-section{
  padding-top: 14px;
  padding-left: 36px;
  margin-top: 10px;
}

.reply-body{
  padding-bottom: 10px;
}

.reply-container{
    margin-bottom: 25px;
    border-left: solid 3px rgba(12, 60, 38, 0.9);
    padding-left: 11px;
}

.vote-unauth{
  color: rgba(68, 183, 139, 1) !important;
  cursor: pointer !important;
}

.confirm-delete{
  color: rgba(68, 183, 139, 1);
}

.edit-parent-form-buttons{
  margin-top: 5px;
}

.about-me{
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}

.personal-email{
  color: rgba(68, 183, 139, 1);
  font-size: 12.8px
}
